<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375773107613-5bubmpi1pvia6iuv8tooqj8cc7plvlb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375773107613-5bubmpi1pvia6iuv8tooqj8cc7plvlb8</string>
	<key>API_KEY</key>
	<string>AIzaSyBHyj_NMehGges6-7Gn8nz5G-jojBOpw0E</string>
	<key>GCM_SENDER_ID</key>
	<string>375773107613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bunitas.salon</string>
	<key>PROJECT_ID</key>
	<string>bunitas-owner</string>
	<key>STORAGE_BUCKET</key>
	<string>bunitas-owner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375773107613:ios:386507801d99e5f75e8b74</string>
</dict>
</plist>